body {
    background-color: #202035;
    margin: 0;
    padding: 0;
    border: 0;
    font-family : "Open Sans";
    font-size: 14px;
    color: #7070AA;
    width: 100%;
}

#the-canvas {
    margin: 5px 15px;
}

/* Navigation bar */
nav {
    font-size: 15px;
    margin: 5px 10px;
}

nav ul {
    padding: 0px;
    margin: 0px;
}

nav ul:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

nav ul,nav ul li{
    background-color: #303050;
}

nav ul li {
    list-style: none;
    float:left;
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: #7070aa;
    padding: 7px 17px 7px 17px;

    transition: background 0.3s ease-out; /* explorer 10 */
    -webkit-transition: background 0.3s ease-out; /* chrome & safari */
    -moz-transition: background 0.3 ease-out; /* firefox */
    -o-transition: background 0.3 ease-out; /* opera */
}

nav ul li:hover, nav ul li:hover > ul {
    cursor: pointer;
    visibility: visible;
    color: #ffffff;
}

nav ul li ul{
    display: inline;
    visibility: hidden;
    position: absolute;
    padding:0px;
}

nav ul li ul li{
    float: none;
}

nav ul li ul li a:hover{
    cursor: pointer;
    color: #FFFFFF;
}
nav ul li ul li a:active{
    cursor: pointer;
    color: #303050;
    background: #7070aa;
}
