body {
    background-color: #303030;
    margin: 0;
    padding: 0;
    border: 0;
    font-family : "Open Sans";
    font-size: 14px;
}


/* Navigation bar */
nav {
    width: 100%;
}

nav ul {
    padding: 0px;
    margin: 0px;
}

nav ul:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

nav ul,nav ul li{
    background-color: #3C3C3C;
}

nav ul li {
    list-style: none;
    float:left;
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: #10CCAA;
    padding: 7px 17px 7px 17px;
}

nav ul li:hover, nav ul li:hover > ul {
    cursor: pointer;
    visibility: visible;
}

nav ul li ul{
    display: inline;
    visibility: hidden;
    position: absolute;
    padding:0px;
}

nav ul li ul li{
    float: none;
}

nav ul li ul li a:hover{
    cursor: pointer;
    color: #FFFFFF;
}
